<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/7a7177ae0d.js"
      crossorigin="anonymous"
    ></script>
    <title>Petit and Fun</title>
  </head>

<body>
    <header>
        <article class="topHeader">
          <div>
            <i class="fa-solid fa-phone"></i>
            <p>011-155829155</p>
          </div>
          <div><p>contactanos</p></div>
        </article>
        <article class="centerHeader">
          <div id="menu"><i class="fa-solid fa-bars"></i></div>
          <div id="logo"><img src="/img/paf-logo.png" /></div>
          <div id="usuario">
            <a href="/login"><i class="fa-solid fa-user"></i></a
            ><i class="fa-solid fa-cart-shopping"></i>
          </div>
        </article>
        <article class="bottomHeader">
          <form>
            <input
              type="search"
              placeholder="Buscar productos, marcas y mas..."
            />
            <button type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
  
          <ul>
            <li>
              <a><p>Perros</p></a>
            </li>
            <li>
              <a><p>Gatos</p></a>
            </li>
            <li>
              <a><p>Aves</p></a>
            </li>
            <li>
              <a><p>Peces</p></a>
            </li>
            <li>
              <a><p>Promociones</p></a>
            </li>
            <li>
              <a><p>Sucursales</p></a>
            </li>
          </ul>
        </article>
      </header>
    <main>
        <div class="detalleproducto">
        <article class="detalleproductos">
            <article class="imagenproducto">
                <img src="/img/alimento-gato-excellent.png">
            </article>
            <article class="resumenproducto">
                <h1 class="tituloresumenproducto">Alimento Para Gato Purina Excellent Adulto Pollo Y Arroz x 15 kg</h1>
                <div class="precioystock">
                    <p class="precio">$X.XXX</p>
                    <p class="stock">Stock:xx </p>
                </div>
                <div class="pesoproducto">
                <a href="/paginaconproductodeXkilos.html" class="botonpesoproducto">3 Kg.</a>
                <a href="/paginaconproductodeXkilos.html" class="botonpesoproducto">15 Kg.</a>
                <a href="/paginaconproductodeXkilos.html" class="botonpesoproducto">18 Kg.</a>
                </div>
                <div class="ordencarrito">
                    <form class="cart" action="https://www.petmania.com.ar/producto/alimento-para-gato-excellent-15-kg/" method="post" enctype="multipart/form-data"><!--enctype es para enviar datos codificados -->
                    <div class="cantidaddeproducto">
                       <button type="button" class="sumaryrestarproducto"><label>-</label></button> 
                        <input type="number" name="cantidaddeproducto" id="cantidaddeproducto" placeholder="1" class="inputcantidaddeproducto">
                        <button type="button" class="sumaryrestarproducto"><label>+</label></button> 
                    </div>
                    </form> 
                    <div class="agregaralcarrito">
                        <button class="botonagregaralcarrito">AGREGAR AL CARRITO</button>
                    </div>
                    
                </div>
            </article>
            
        </article>
        <div class="descripcionproducto">
            <h2 class="titulodescripcionproducto">Descripción</h2>
            <p>Purina Excellent Adult Cat CH&R es un alimento Premium para gatos adultos, con un delicioso sabor a
                pollo y arroz.<br>
                PROTEÍNAS DE ALTA DIGESTIBILIDAD: Ayudan a mantener una conformación corporal ideal.<br>
                ÓPTIMA COMBINACIÓN DE INGREDIENTES: Colabora con el mantenimiento de un tracto urinario saludable.<br>
                ÁCIDOS GRASOS OMEGA 3 Y 6:Aportan elasticidad a la piel y brillo al pelaje.</p>
        </div>

    </main>
</div>

<footer>
    <div><img src="/img/paf-logo.png" alt="" /></div>
    <div>
      <ul>
        <li>Nosotros</li>
        <li>Productos</li>
        <li>Contactanos</li>
      </ul>
    </div>
  </footer>
</body>

</html>