* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fredoka One', cursive;
  color: white;
}

div.agregaralcarrito {
  padding: 5px;
}

div.cantidaddeproducto {
  display: flex;
}

div.pesoproducto {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

div a.botonpesoproducto {
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  padding: 10px;
}

div a.botonpesoproducto:hover {
  background-color: grey;
  color: white;
}

div button.botonagregaralcarrito {
  background-color: rgb(122, 122, 230);
  border: none;
  border-radius: 5px;
  color: white;
  height: 43px;
  margin: auto;
}

div.ordencarrito {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.precioystock {
  display: flex;
  padding: 5px;
  justify-content: space-around;
}

div p.precio {
  width: 50%;
 
}

div p.stock {
  width: 50%;
  display: inline-block;
}

div input.inputcantidaddeproducto {
  width: 43px;
  height: 43px;
}

header {
  width: 100vw;
  background-color: #8c52ff;
}

header article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
main div.descripcionproducto {
  padding: 25px;
}

main article.detalleproductos {
  display: flex;
}

main h2 {
  color: #45B1CE;
  padding: 5px
}

main article.imagenproducto img {
  height: auto;
  max-width: 100%;
  display: block;
  padding: 25px;
}

main article.resumenproducto {
  padding: 25px;
}

main h1.tituloresumenproducto {
  color: #666666;
  padding: 5px;
}

main p {
  color: #666666;
  padding: 5px
}

.register {
  align-items: center;
  background-color: rgb(154 158 158);
  ;
  padding: 20px;
  display: flex;
  flex-flow: column;
}

.register div {
  margin-top: 5px;
}

.register input {
  border-radius: 5px;
  border: none;
  color: black;
  padding: 7px;
  width: 50vw;

}

.register button {
  color: rgb(111, 11, 204);
  font-weight: 900;
}

.topHeader {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5%;
}

.topHeader div {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.topHeader p {
  margin-left: 4%;
}

.centerHeader {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5%;
  height: 10vh;
  align-items: center;
}

.centerHeader div#menu {
  width: 10%;
  margin: auto;
}

.centerHeader div#menu i {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.centerHeader form#searchBar {
  width: 30%;
}

.centerHeader div#logo {
  width: 40%;
}

.centerHeader div#usuario {
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.centerHeader div#usuario i {
  font-size: 1.5rem;
}

.centerHeader img {
  width: 260px;
  padding: 10px;
}

.bottomHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5%;
}

.bottomHeader form {
  width: 70%;
  margin: auto;
  padding-bottom: 1%;
}

.bottomHeader form input {
  width: 90%;
  border-radius: 5px;
  border: none;
}

.bottomHeader ul {
  display: none;
  list-style: none;
}

.bottomHeader li {
  /* color: white;*/
  display: inline-flex;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  padding: 0.5%;
}

nav.menu {
  align-items: center;
  background-color: blueviolet;
  display: flex;
  height: 50px;
  width: 100vw;
}

@media (min-width: 481px) {
  .bottomHeader ul {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
  }

  .centerHeader #menu {
    display: none;
  }
}

@media (min-width: 769px) {}