* {
  margin: 0;
  box-sizing: border-box;

}

div button.masproducto, div button.menosproducto {
  color: black;
}

div.agregaralcarrito {
  padding: 5px;
  width: 100%;
}

div.cantidaddeproducto {
  display: flex;
}

div.pesoproducto {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

div a.botonpesoproducto {
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  padding: 10px;
}

div a.botonpesoproducto:hover {
  background-color: grey;
  color: white;
}

div button.botonagregaralcarrito {
  background-color: rgb(122, 122, 230);
  border: none;
  border-radius: 5px;
  color: white;
  height: 43px;
  margin: auto;
  width: 100%;
}

div.ordencarrito {
  display: flex;
  align-items: center;
}

div.precioystock {
  display: flex;
  padding: 5px;
  justify-content: space-around;
}

div p.precio {
  width: 50%;
}

div p.stock {
  width: 50%;
  display: inline-block;
}

div input.inputcantidaddeproducto {
  width: 43px;
  height: 43px;
  text-align: center;
}

header {
  width: 100vw;
  background-color: rgb(141, 74, 204);
}

header article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.topHeader {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5%;
}

.topHeader div {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.topHeader p {
  margin-left: 4%;
}

.centerHeader {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5%;
  height: 51px;
}

.centerHeader div#menu {
  width: 10%;
  margin: auto;
}

.centerHeader div#menu i {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}
.centerHeader div#logo {
  width: 80%;
  display: flex;
  justify-content: center;
}

.centerHeader div#usuario {
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.centerHeader img {
  width: 27%;
}

.bottomHeader {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5%;
  margin-top: 5px;
}

.bottomHeader form {
  display: flex;
  width: 70%;
  margin: auto;
  padding-bottom: 1%;
}

}

.bottomHeader ul {
  display: none;
  list-style: none;
}

.bottomHeader li {
  /* color: white;*/
  display: inline-flex;
  font-weight: bold;
  padding: 0.5%;
}

@media (min-width: 481px) {
  .bottomHeader ul {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }

  .centerHeader #menu {
    display: none;
  }

  .productos {
    width: 40%;
  }
}

@media (min-width: 769px) {